In [4]:
import os 
import pandas as pd
import numpy as np

In [5]:
file_path = os.path.join("Resources/purchase_data.csv")

In [35]:
purchase_data_df = pd.read_csv(file_path)
purchase_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

**Player Count**

In [122]:
Ttl_Players = purchase_data_df['SN'].nunique()
pd.DataFrame({
    "Total Players": [Ttl_Players]})

   Total Players
0            576

**Purchasing Analysis (Total)**

In [89]:
Number_Unique_Items = purchase_data_df['Item ID'].unique()
Number_Unique_Items = len(Number_Unique_Items)
print(Number_Unique_Items)

Avg_Price = purchase_data_df['Price'].mean()
print(Avg_Price)

Number_of_Purchases = purchase_data_df['Purchase ID'].count()
print(Number_of_Purchases)

Total_Rev = purchase_data_df['Price'].sum()
print(Total_Rev)



summary_purchasing_df = pd.DataFrame({"Number of Unique Items": [Number_Unique_Items],"Average Price": [Avg_Price],"Number of Purchases": [Number_of_Purchases],"Total Revenue": [Total_Rev]})

summary_purchasing_df["Average Price"] = summary_purchasing_df["Average Price"].map("${:.2f}".format)

summary_purchasing_df["Total Revenue"] = summary_purchasing_df["Total Revenue"].map("${:,.2f}".format)
summary_purchasing_df

179
3.05098717949
780
2379.77

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $3.05                  780                     179     $2,379.77

**Gender Demographics**

In [144]:
Grouped_Gender_df = purchase_data_df.groupby(["Gender"])
Gender = Grouped_Gender_df["SN"].nunique()
Percentage = Gender / Ttl_Players * 100

demo_of_gender_df = pd.DataFrame({"Total Count": Gender,"Percentage of Players": Percentage})

demo_of_gender_df[["Total Count", "Percentage of Players"]].sort_values(["Total Count"], ascending=False)

                       Total Count  Percentage of Players
Gender
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

**Purchasing Analysis (Gender)**

In [136]:
Purchase_Count = Grouped_Gender_df["Purchase ID"].count()
Gender_Count = Grouped_Gender_df["SN"].nunique()
Avg_Purchase_Price = Grouped_Gender_df["Price"].mean()
Ttl_Purchase_Value = Grouped_Gender_df["Price"].sum()
Avg_Ttl_Per = Ttl_Purchase_Value / Gender_Count

purchase_by_gender_df = pd.DataFrame({"Purchase Count": Purchase_Count,"Average Purchase Price": Avg_Purchase_Price,"Total Purchase Value": Ttl_Purchase_Value,"Avg Total Purchase per Person": Avg_Ttl_Per})

purchase_by_gender_df[["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]].sort_values(["Purchase Count"], ascending=False)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

**Age Demographics**

In [130]:
purchase_data_df["Age"].max()

45

In [102]:
purchase_data_df["Age"].min()

7

In [142]:
bins_by_age = [0, 9, 14, 19, 24, 29, 34, 39, 150]
labels_by_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age Labels"] = pd.cut(purchase_data_df["Age"], bins_by_age, labels = labels_by_age)
Group_by_age_df = purchase_data_df.groupby(["Age Labels"])

Age = Group_by_age_df["SN"].nunique()
Percentage = Age / Ttl_Players * 100
Demo_Age_df = pd.DataFrame({"Total Count": Age,"Percentage of Players": Percentage})

Demo_Age_df[["Total Count", "Percentage of Players"]]

            Total Count  Percentage of Players
Age Labels
<10                  17               2.951389
10-14                22               3.819444
15-19               107              18.576389
20-24               258              44.791667
25-29                77              13.368056
30-34                52               9.027778
35-39                31               5.381944
40+                  12               2.083333

**Purchasing Analysis (Age)**

In [154]:
Purchase_Count = Group_by_age_df["Purchase ID"].count()
Avg_Purchase_Price = Group_by_age_df["Price"].mean()
Ttl_Purchase_Price = Group_by_age_df["Price"].sum()
Ttl_Purchase_Value = Group_by_age_df["Price"].sum()
Avg_Ttl_Per = Ttl_Purchase_Price / Age

purchase_by_age_df = pd.DataFrame({"Purchase Count": Purchase_Count,"Average Purchase Price": Avg_Purchase_Price,"Total Purchase Value": Ttl_Purchase_Value,"Avg Total Purchase per Person": Avg_Ttl_Per})

purchase_by_age_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Labels,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

**Top Spenders**

In [157]:
spender_by_group_df = purchase_data.groupby(["SN"])

Purchase_Count = spender_by_group_df["Purchase ID"].count()
Avg_Purchase_Price = spender_by_group_df["Price"].mean()
Ttl_Purchase_Value = spender_by_group_df["Price"].sum()

spender_by_group_df = pd.DataFrame({"Purchase Count": Purchase_Count,"Average Purchase Price": Avg_Purchase_Price,"Total Purchase Value": Ttl_Purchase_Value})

spender_by_group_df = spenders_df.sort_values(["Total Purchase Value"], ascending=False)

spender_by_group_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]].head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

**Most Popular Items**

In [162]:
pop_items_df = purchase_data_df[["Item ID", "Item Name", "Price"]]

Item_Group_df = pop_items_df.groupby(["Item ID", "Item Name"])

Purchase_Count = Item_Group_df["Item ID"].count()
Item_Price = Item_Group_df["Price"].mean()
Ttl_Purchase_Value = Item_Group_df["Price"].sum()

pop_items_df = pd.DataFrame({"Purchase Count": Purchase_Count,"Item Price": Item_Price,"Total Purchase Value": Ttl_Purchase_Value})

pop_items_df = pop_items_df.sort_values(["Purchase Count"], asending=False)

pop_items_df[["Purchase Count", "Item Price", "Total Purchase Value"]].head()

TypeError: sort_values() got an unexpected keyword argument 'asending'